
<div class="container">
  <div>
    <h1 class="mt-3 text-center">FIBONACCI</h1>
  </div> 
  <div class="row"> 
    <form #calculateForm="ngForm" (ngSubmit)="onSubmit(calculateForm)">
      <div class="form-group">
        <label for="numero">Proporciona un número entero positivo</label>
        <input type="number" class="form-control" id="numero" name="numero" ngModel #numero="ngModel" aria-describedby="número" placeholder="Ingresa un número" required/>
        <small id="numeroHelp" class="form-text text-muted">El número debe ser estar en el rango de 0 - 927372692193079200000</small>
        <br>
        <span class="alert alert-danger" *ngIf="!numero.valid && numero.touched">
          El número no es válido!
        </span>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="!calculateForm.form.valid">Calcular</button>
    </form>
  </div>
</div>